Source: uuid-master-api
Section: admin
Priority: extra
Maintainer: Chris Larsen <clarsen801@gmail.com>
Build-Depends: debhelper (>= 8.0.0), nodejs (>=0.10.25~dfsg2-2ubuntu1), npm (>=1.3.10~dfsg-1), nodejs-legacy (>=0.10.25~dfsg2-2ubuntu1), mongodb
Standards-Version: 3.9.3

Package: uuid-master-api
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, nodejs (>=0.10.24)
Description: UUID Master API Server
 <insert long description, indented with spaces>
